body {
  @apply overflow-hidden bg-black;
}

:root {
  --cl1: #d60000;
  --cl2: #ff0000;
  --cl3: #f0502c;
  --cl4: #f26337;
}

.profile-card::before,
.profile-card::after {
  @apply content-[''] absolute inset-[-1rem] rounded-[inherit] -z-[1];
  background: linear-gradient(
    0deg,
    var(--cl1),
    var(--cl2),
    var(--cl3),
    var(--cl4)
  );
  animation: rotation 20s linear infinite;
}

.profile-card::after {
  @apply blur-[3.5rem];
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scrollbar-none::-webkit-scrollbar {
  @apply w-0 hidden;
}

.social-icons svg:nth-child(odd) {
  @apply text-[var(--cl2)];
}
